/* Reset de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte padrão para a aplicação */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #dfd8f8; /* Cor suave de lilás claro */
    color: #333;
    line-height: 1.6;
}

/* Centralização e estilo para todas as páginas */
body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Estilo para o cabeçalho */
header {
    text-align: center;
    margin-bottom: 40px;
}

.logo-img {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
}

.project-name {
    font-size: 28px;
    font-weight: bold;
    color: #cb6ce6; /* Magenta */
    text-transform: uppercase;
    margin-bottom: 30px;
}

/* Botões principais */
button {
    padding: 12px 20px;
    background-color: #cb6ce6; /* Magenta */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito de hover para botões */
button:hover {
    background-color: #b05bd9;
}

/* Links */
a {
    color: #cb6ce6;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-top: 10px;
}

a:hover {
    color: #b05bd9;
}

/* Estilos para inputs */
input[type="text"], input[type="password"], input[type="checkbox"] {
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
}

input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 10px;
}

/* Formulário de logout */
.logout-btn {
    background-color: #ef5350;
    color: white;
    width: auto;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
}

.logout-btn:hover {
    background-color: #d32f2f;
}

/* Centralização dos formulários */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

